/* --------------------------------------------------------
Style Sheet for Sticky SideNav

version: 1.0
author: Yunus Shaikh
email: s.yunus0493@gmail.com
website: https://yunus.in/
----------------------------------------------------------*/

html,body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    max-width: 80%;
    background-color: #f1f1f1;
}

img{
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}

section{
    display: grid;
    grid-template-columns: 25% auto;
}


article{
    padding: 2%;
}